/* 基础容器样式 */
.devinx3-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.devinx3-chat-header {
    padding: 6px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devinx3-chat-message-list {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.devinx3-chat-message-list::-webkit-scrollbar {
    width: 6px;
}
.devinx3-chat-message-list::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}
.devinx3-chat-message-list::-webkit-scrollbar-track {
    background: transparent;
}

.devinx3-chat-message {
    max-width: 93%;
    padding: 8px 12px;
    word-break: break-word;
    line-height: 1.5;
}

.devinx3-chat-message.user {
    font-size: 12px;
    align-self: flex-end;
    background-color: #2d2d2d;
    color: #d4d4d4;
    justify-content: flex-end;
}

.devinx3-chat-message.ai {
    width: 100%;
    font-size: 12px;
    align-self: flex-start;
    color: #d4d4d4;
    justify-content: flex-start;
}