/* 编辑器容器样式 */
.devinx3-editor-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e1e11;
    overflow: hidden;
}

/* 编辑器头部样式 */
.devinx3-editor-header {
    padding: 5px;
}

.devinx3-editor-header button {
    font-size: 12px;
}

/* 编辑器内容区域 */
.devinx3-editor-content {
    flex: 1;
    position: relative;
    min-width: '30vw';
}

.devinx3-editor-content>section {
    height: 100%;
}

/* 聊天侧边栏 */
.devinx3-editor-sider {
    height: 100%;
    border-left: 1px solid #333;
    background-color: #1e1e1e;
    overflow: hidden;
}

.resizeable-component {
    resize: both;
    overflow: auto;
}